
// includes raw jams as well as default layout
.view_jam {
    .grid_outer {
        overflow: hidden;

        h2 {
            padding: 30px 20px;
            border-bottom: 1px solid #dadada;
            margin: 0;
            margin-bottom: 10px;

            .game_count {
                font-weight: normal;
                color: #666;
                margin-left: 10px;
            }
        }

        .game_grid {
            padding: 20px 0 0 20px;
        }

        .rated_game {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0, 0.5);
            text-align: center;

            @include opacity(1);
            @include prefixed(transition, opacity 0.2s ease);

            &:hover {
                @include opacity(0);
            }

            .rated_label {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;

                height: 40px;
                line-height: 40px;

                color: white;
                font-size: 24px;
                font-weight: normal;
                text-shadow: 0 0 20px black;

                .icon {
                    vertical-align: bottom;
                }
            }
        }
    }


    .itch_footer {
        overflow: hidden;
        background: white;
        text-align: right;
        border-top: 1px solid #dadada;
        padding: 10px 20px;
        background: #EFEFEF;

        .powerd_by {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            color: #999;
            font-style: italic;
            margin-right: 6px;
        }

        .header_logo {
            background: url("/static/images/itchio-black-30.png");
            display: inline-block;
            vertical-align: middle;
            width: 107px;
            height: 30px;
            margin: 0;
        }
    }

    .footer_submissions {
        float: left;
        text-align: left;
        color: #666;
        margin-top: 6px;

        a {
            color: #444;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;
        }

        li {
            display: inline-block;
            margin-left: 5px;

            &::before {
                content: "(";
            }

            &::after {
                content: ")";
            }
        }

        h1 {
            display: none;
        }
    }
}


// default jam layout with theme editor and injected styles
.view_jam_default {
    padding: 0;

    &.has_banner {
        .jam_banner {
            display: block;
        }
    }

    &.before_start {
        .ends_in, .voting_ends_in, .ended {
            display: none;
        }
    }

    &.during_submit {
        .ended, .voting_ends_in, .starts_in {
            display: none;
        }
    }

    &.during_voting {
        .ended, .starts_in, .ends_in {
            display: none;
        }
    }

    .countdown_outer {
        margin: 20px 0;
    }

    .countdown {
        display: inline-block;
        border-color: inherit;

        * {
            border-color: inherit;
        }

        .countdown_section {
            vertical-align: middle;
            display: inline-block;
            margin: 5px 12px;
            margin-right: 0;
            font-size: 12px;
            font-style: italic;

            border-left: 2px solid $border_color;
            border-color: inherit;
            padding-left: 10px;
        }

        .countdown_amount {
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
        }
    }


    .jam_banner {
        display: none;
        width: $site_width;
        margin: 0 auto;
        border: 0;

        &.full_width {
            width: 100%;
        }
    }

    .jam_body {
        width: $site_width;
        margin: 0 auto;
        margin-top: 40px;
        overflow: hidden;
    }

    .jam_title_header {
        margin: 20px;
    }

    .jam_content {
        margin: 20px;
    }

    .state_outer {
        text-align: middle;
    }

    .jam_message {
        border: 1px solid $border_color;
        border-radius: 4px;
        padding: 0 20px;
        margin: 20px;

        .date_format {
            font-weight: bold;
        }
    }

    .submitter_outer {
        text-align: center;
        margin: 40px 0;
    }

    .submitter {
        border: 1px solid $border_color;
        border-radius: 4px;

        display: inline-block;
        padding: 0px;

        .date_data {
            text-align: left;
            border-bottom: 1px solid $border_color;
            border-color: inherit;
            padding: 10px 20px;

            .date_format {
                font-weight: bold;
            }

        }

        .countdown_outer, .state_action {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            padding: 20px;
        }

        .countdown_outer {
            margin: 0;
            min-width: 320px;
            border-right: 1px solid $border_color;
            border-color: inherit;
        }

        .state_action {
            border-left: 1px solid $border_color;
            border-color: inherit;
            position: relative;
            left: -1px;
            max-width: 300;
        }

    }

    .add_game_btn {
        @include transition(background-color 0.1s ease);
        background: $link_color;
        border: 0;
        color: white;
        padding: 15px 40px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background: lighten($link_color, 2%);
        }

        &:active {
            background: desaturate(darken($link_color, 3%), 4%);
        }

        &:focus {
            outline: none;
        }
    }

    .grid_outer {
        margin-top: 40px;
    }
}

#lightbox_container {
    color: #222;
}

