
.game_admins, .jam_admins, .game_accept_admin {
    p {
        font-size: 16px;
        line-height: 1.5;
        width: 600px;
        margin: 0 0 20px 0;
    }
}

.game_admins, .jam_admins {
    padding: 0;
}

.admin_accept_lightbox {
    max-width: 500px;

    .form {
        margin: 0 40px 20px 40px;
        text-align: left;

        .text_input {
            @include border_box;
            width: 100%;
        }
    }

    .button_row {
        margin: 20px 40px 30px 40px;
    }
}
