
.browse_bundles {
    padding: 0;
    font-size: 14px;
    $games_width: 420px;

    .social_buttons {
        float: none;
        margin: 20px 0 0 40px;
    }

    .grid_header {
        border-bottom: 1px solid $border_color;

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 20px 40px;
            max-width: 600px;
        }
    }

    .bundle_list {
        background: mix($border_color, white, 15%);
        overflow: hidden;
        padding: 40px 20px 0 40px;
        text-align: center;
        border-bottom: 1px solid $border_color;
    }

    .bundle_footer {
        background: white;
        border-bottom: 2px solid $edge_border_color;
        overflow: hidden;
        text-align: center;

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 20px 40px;
            color: #666;
        }

        .button {
            margin-left: 10px;
        }
    }

    .bundle_row {
        @include border_box;
        text-align: left;
        display: inline-block;
        width: 800px;
        height: 160px;
        border-radius: 3px;
        margin: 0 20px 40px 0;
        border: 2px solid $border_color;
        position: relative;
        background: white;
    }

    .bundle_games {
        @include has_game_thumb;
        @include border_box;
        text-align: center;
        white-space: nowrap;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $games_width;
        overflow: hidden;
        padding: 16px 0 0 15px;
        border-left: 2px solid $border_color;

        .game_thumb {
            display: inline-block;
            margin-right: 10px;
            width: floor($game_thumb_width*0.5);
            height: floor($game_thumb_height*0.5);
        }

        .bundle_gradient {
            position: absolute;
            background: url("images/bundle_gradient.png");
            width: 121px;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }

        .bundle_overlay_link {
            border-radius: 0 2px 2px 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: rgba(0,0,0,0);
            text-decoration: none;
            @include transition(background 0.2s ease);
            display: flex;
            align-items: center;
            justify-content: center;

            .outline_button {
                @include outline_button($hover: false);
                @include opacity(0);
                @include transition(opacity 0.2s ease);
                text-shadow: 0 0 4px rgba(0,0,0,0.5);
                font-size: 16px;
            }

            &:hover {
                background: rgba(0,0,0,0.6);
                .outline_button {
                    @include opacity(1);
                }
            }

            &:active {
                background: rgba(0,0,0,0.7);
            }
        }
    }

    .bundle_data {
        margin-right: $games_width;
        padding: 15px 20px 0 20px;
    }

    .bundle_title {
        @include single_line;
        margin: 0 0 2px 0;

        a {
            text-decoration: none;
        }
    }

    .bundle_author, .game_count {
        @include single_line;
        font-size: 16px;
        line-height: 1.5;
    }

    .bundle_author {
        a {
            color: #666;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .game_count {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5;

        .total_price, .savings {
            color: #666;
        }
    }

    .data_row {
        line-height: 1.7;
    }

    .game_platforms {
        color: #666;
    }

    .game_platforms .icon {
        margin-right: 3px;
    }

    .sale_end {
        font-weight: bold;
    }
}
