@import "lib/antiscroll";

.my_collections {
    padding: 0;
    background: white;

    .stat_header {
        border-bottom: 0;
    }

    .warning_box {
        padding-left: 40px;
        padding-right: 40px;
    }

    .empty_message {
        border-top: 1px solid #dadada;

        p {
            margin: 20px 40px;
            font-size: 16px;
            line-height: 1.5;
        }

        em {
            color: #666;
        }
    }

    .game_collection {
        border-top: 1px solid #dadada;

        &.no_games {
            .no_games_message {
                display: block;
            }
        }

        .live_edit_input {
            width: 300px;
            border: 1px solid #aaa;
            margin: 0;
            padding: 4px;
            font-size: 18px;
            color: #333;

            &:focus {
                outline: none;
            }
        }

        h2 {
            padding: 20px 40px 15px 40px;
            background: $light_gray_back;
            font-weight: normal;
            font-size: 22px;

            .collection_title {
                color: inherit;
                text-decoration: none;
                display: inline-block;
                vertical-align: bottom;
            }

            .collection_title_wrap {
                @include single_line;
                max-width: 450px;
                display: inline-block;
            }

            a.collection_title {
                &:hover, &:active {
                    text-decoration: underline;
                    .outline_button {
                        background-color: #444;
                        border-color: #666;
                        color: white;
                    }
                }

                &:active {
                    .outline_button {
                        background-color: #333;
                    }
                }
            }

            .sub {
                display: inline-block;
                vertical-align: top;
                font-size: 12px;
                color: #999;
                margin-left: 10px;
                margin-top: 5px;

                a {
                    color: #666;
                }
            }

            .outline_button {
                @include outline_button($hover: false);
                background: white;
                color: #444;
                margin-left: 10px;
                vertical-align: top;
            }
        }

        .toggle_input {
            margin-left: 10px;
            color: #666;

            &.disabled {
                color: #aaa;
            }

            input {
                vertical-align: middle;
            }
        }


        .no_games_message {
            display: none;
            margin: 0 40px 20px 40px;
            font-size: 16px;
            color: #666;
        }

    }

    .game_list {
        padding: 5px 40px 0 40px;

        &.single_game {
            .top_tools {
                display: none;
            }
        }

        .game_cell {
            @include transition(all 0.3s ease-in-out);
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 40px;

            &.invisible {
                @include opacity(0);
            }

            &:first-child {
                .move_left_btn {
                    display: none;
                }
            }

            &:last-child {
                .move_right_btn {
                    display: none;
                }
            }

            .game_thumb {
                position: relative;
                overflow: hidden;
            }

            .hover_tools {
                $tool_height: 24px;
                @include transition(all 0.2s ease-in-out);
                background: rgba(0,0,0,0.8);
                height: $tool_height;
                line-height: $tool_height;
                white-space: nowrap;

                position: absolute;
                left: 1px;
                right: 1px;

                font-size: 12px;

                &.top_tools {
                    top: -$tool_height;

                    .half_button {
                        border-bottom: 1px solid rgba(255,255,255, 0.3);
                    }
                }

                &.bottom_tools {
                    bottom: -$tool_height;

                    .half_button {
                        border-top: 1px solid rgba(255,255,255, 0.3);
                    }

                }

                a {
                    color: #ddd;
                    text-decoration: none;
                }

                .half_button {
                    @include border_box;
                    display: inline-block;
                    width: 50%;
                    text-align: center;

                    &:hover {
                        background: rgba(255,255,255, 0.1);
                    }


                    &:first-child {
                        // text-align: left;
                        border-right: 1px solid rgba(255,255,255, 0.3);
                    }

                    &:last-child {
                        // text-align: right;
                    }
                }

                .remove_btn {
                    color: lighten(red, 30%);
                    &:hover {
                        background: rgba(255,100,100, 0.2);
                    }
                }
            }

            &:hover {
                .hover_tools {
                    &.top_tools {
                        top: 1px;
                    }

                    &.bottom_tools {
                        bottom: 1px;
                    }

                }
            }
        }

    }
}

.view_collection {
    padding: 0;

    .collection_description {
        margin: 0 40px;
        max-width: 700px;

        h1, h2, h3, h4, p, ul, ol {
            margin: 20px 0 0 0;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }

        ul, ol {
            font-size: 16px;
            line-height: 1.2;
        }
    }

    .edit_tools {
        margin: 20px 40px 0 40px;
        font-size: 16px;
        line-height: 1.5;
    }

    .privacy_area {
        float: right;
        margin: 20px 40px 0 0;

        .tag_bubble {
            font-size: 16px;
            display: inline-block;
            line-height: 24px;
        }
    }
}

.edit_collection_lightbox {
    width: 622px;

    &.is_private {
        .on_profile_toggle {
            opacity: 0.5;
        }
    }

    form {
        margin: 30px 40px;

        &.loading {
            .loader {
                display: inline-block;
            }
        }

        .loader {
            display: none;
        }

        .redactor_box {
            width: 540px;
        }

        .checkboxs_row {
            font-size: 16px;
            line-height: 2.0;

            input {
                margin-left: 0;
            }
        }
    }
}


.collection_game_lightbox {
    width: 550px;

    form.loading {
        .loader {
            display: inline-block;
        }
    }

    .loader {
        display: none;
    }

    .form {
        margin-top: 30px;

        .input_row {
            margin: 20px 40px;
        }
    }

    .buttons {
        padding: 20px 40px 30px 40px;
        margin-top: 0;

        a {
            color: #666;
        }
    }
}

.my_rated_games {
    padding: 0;

    .game_grid {
        .star_picker {
            margin-bottom: 4px;
        }
    }
}

