
.photo_header {
    background: url("//commondatastorage.googleapis.com/itchio/static/images/stock.jpg");
    background-size: cover;
    background-position: 50% 60%;

    border-bottom: 1px solid #FFF;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);

    padding: 40px 0;

    .inner_column {
        position: relative;
    }

    .user_panel {
        top: -13px;
    }

    h1 {
        margin: 0;
        font-size: 32px;
        text-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
        height: 38px;

        position: absolute;
        top: -28px;
        left: -12px;

        a {
            display: block;
            text-decoration: none;
            color: #eee;
            width: 200px;
            height: 79px;
            // background-image: url("/static/images/itchio-200.png");
            background-image: url("//commondatastorage.googleapis.com/itchio/static/images/itchio-200.png");
        }
    }

    .messaging {
        border-radius: 2px;
        color: white;
        text-shadow: 0px 1px 1px rgba(0,0,0, 0.5);
        margin-right: 450px;
        padding-top: 60px;

        h2 {
            color: white;
            font-size: 34px;
            font-weight: normal;
            margin: 0;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin: 0;
            margin-top: 15px;
            line-height: 1.5;
        }
    }

    .button {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
    }

    a {
        color: white;
    }

    #screencast {
        position: absolute;
        right: 0;
        top: 75px;

        box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 0 10px rgba(0,0,0, 0.5);
        border: 4px solid rgba(0,0,0, 0);
        border-radius: 2px;
    }
}


.developers {
    position: relative;
    padding: 35px;

    margin: 4px;
    border: 1px dashed #E0E0E0;
    border-radius: 2px;

    .fancy {
        font-family: serif;
        color: #444;
        font-style: italic;
        font-size: 14px;
        margin-top: 3px;
    }

    .divider {
        width: 400px;
        margin: 25px auto;
        border-top: 1px dashed #ccc;
    }

    .guide {
        position: relative;
        $img_width: 450px;

        @include clearfix;
        margin-bottom: 40px;

        &.right_guide {
            .image {
                float: right;
            }

            .text {
                margin-left: 0;
                margin-right: $img_width + 50px;
            }
        }

        .new_ribbon {
            position: absolute;

            top: -14px;
            left: 360px;

            width: 89px;
            height: 101px;
            background-image: url("/static/images/new_ribbon.png");
        }


        .image {
            float: left;

            @include autograd(#ddd);
            // background-size: cover;
            width: $img_width;
            height: 250px;

            box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), inset 0 0 40px rgba(0,0,0,0.2), 0 0 0 3px white, 0 0 0 4px #ccc;
            border: 1px solid #777;
            border-radius: 2px;
        }

        .text {
            margin-left: $img_width + 50px;
            margin-top: 50px;
            text-align: left;

            h3 {
                color: #444;
                font-size: 28px;
                margin: 0;
                font-weight: normal;

                .icon {
                    margin-right: 8px;
                    color: #9E9E9E;
                }
            }

            p {
                color: #666;
                font-size: 16px;
                line-height: 1.5;
                margin: 15px 0;
            }
        }

    }

    .register_form {
        margin-top: 20px;

        h2 {
            font-size: 28px;
            font-weight: normal;
            text-align: center;
        }
        
        .form_columns {
            font-size: 0;
            .col {
                @include grid_cell(1, 2, $gutter: 20px, $width: $inner_site_width);
            }
        }

        .text_input {
            width: 400px;
        }
    }

}

.developers_game_jams {
    .jam_examples {
        text-align: center;
        margin: 40px 0;
        &.multi {
            img {
                width: 200px;
                // border: 0;
                // padding: 0;
            }
        }

        img {
            width: 400px;
            padding: 10px;
            border: 1px solid #DADADA;
        }
    }
}

.index_sticky_bar {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    background: white;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;

    @include transition(top 0.20s ease);

    &.is_wide {
        padding: 10px 20px;

        .sticky_bar_inner {
            width: auto;
        }
    }

    .show_sticky_bar & {
        top: 0;
    }

    .sticky_bar_inner {
        width: $site_width;
        position: relative;
        margin: 0 auto;
        font-size: 16px;
    }

    .login_link {
        color: #666;
        &:hover {
            color: #777;
        }
    }

    .sticky_logo {
        margin-right: 20px;
        vertical-align: top;
        margin-top: 2px;
    }

    .decor {
        margin: 0 6px 0 12px;
        color: #999;
        font-style: italic;
    }

    .button {
        font-size: 16px;
        letter-spacing: 0.025em;
        padding: 0 15px;
    }

    .social_buttons {
        position: absolute;
        top: 8px;
        right: 0px;

        .fb-like {
            margin-right: 30px;
        }
    }
}


.developers_inside {
    padding: 0;

    &.logged_in {
        .on_logged_out {
            display: none;
        }
    }

    &.logged_out {
        .on_logged_in {
            display: none;
        }
    }


    .image_header {
        border-radius: 2px 2px 0 0;
        background: #333;
        background-image: url("//commondatastorage.googleapis.com/itchio/static/images/stock_blue.jpg");
        background-position: 50% 50%;
        height: 200px;
        position: relative;

        h1 {
            font-weight: bold;
            color: white;
            font-size: 38px;
            text-shadow: 0px 1px 2px rgba(0,0,0, 0.6), 0 0 20px black;
            width: 550px;
            margin: 0;
            // padding: 20px;

            position: absolute;
            bottom: 20px;
            left: 40px;

            // background: rgba(0,0,0, 0.5);
        }

        img {
            position: absolute;
            right: 15px;
            bottom: 3px;
        }

        .new_ribbon {
            position: absolute;
            top: -14px;
            left: 862px;
            width: 89px;
            height: 101px;
            background-image: url("/static/images/new_ribbon.png");
        }
    }

    .tab_columns {
        margin: 40px;
    }

    .text_content {
        h2 {
            font-size: 28px;
            font-weight: normal;
            margin-top: 45px;
            margin-bottom: 20px;

            &.top_header {
                margin-top: 0;
            }
        }

        h3 {
            font-size: 18px;
            line-height: 1.5;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 24px 0;
        }

        ul {
            margin: 2em 0;

            li {
                font-size: 16px;
                line-height: 1.8;
            }
        }

        iframe {
            margin: 20px 0;
            display: block;
        }

        .social_nag {
            margin-top: 80px;
            border-top: 1px solid #dadada;
            padding-top: 20px;
        }
    }

    .image_holder {
        background: white;
        border: 1px solid #dadada;
    }

    .aside_image {
        float: right;
        margin: 0 0 40px 40px;

        img {
            background: white;
            border: 1px solid #dadada;
        }

        .image_holder {
            background-size: cover;
        }

        &.aside_left {
            float: left;
            margin: 0 40px 40px 0;
        }
    }

    .promo_image {
        display: inline-block;

        padding: 10px;

        box-shadow: 0 0 10px rgba(0,0,0, 0.3);
        border-radius: 4px;
    }

    .promo_images {
        margin: 45px 0;
        text-align: center;
        white-space: nowrap;


        .promo_image {
            vertical-align: top;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }

        &.narrow {
        }

        .image_holder {
            width: 220px;
            height: 130px;
        }
    }

    .button_row {
        text-align: center;

        border-bottom: 1px dashed #dadada;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;

        &.bottom {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }


    .sub {
        margin-top: 10px;
        color: #666;
        font-style: italic;
    }

    .index_sticky_bar {
        .social_buttons {
            top: 0px;
        }

        .page_title {
            font-weight: bold;
            font-size: 18px;
        }
    }
}

