.donation_complete {
    .icon-heart {
        color: #EC4E61;
        vertical-align: top;
        margin-left: 4px;
        font-size: 16px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }
}

