.edit_game_form {
    padding: 0;

    .input_row {
        margin-bottom: 25px;
    }

    &.has_classification {
        .when_game_only {
            display: none;
        }
    }

    &.loading {
        .form_loader {
            display: inline-block;
        }
    }


    &.payments_disabled {
        .payment_warning {
            display: none;
        }

        .upload_price_picker, .upload_demo_picker {
            display: none;
        }

        .suggested_price_row, .suggest_toggle_row {
            display: none
        }

    }

    &.can_purchase {
        .price_input_row, .suggest_toggle_row {
            display: block;
        }

        &.show_suggested_price {
            .suggested_price_row {
                display: block;
            }
        }
    }

    &.can_donate {
        .donation_input_row {
            display: block;
        }
    }

    .donation_input_row, .price_input_row, .suggest_toggle_row, .suggested_price_row {
        display: none;
    }

    .price_input_row {
        margin-bottom: 5px;
    }

    .suggested_price_row {
        display: none;

        .suggested_price_error {
            color: $error_color;
            display: none;
        }

        &.has_error {
            input {
                border-color: lighten($error_color, 20%);
                color: $error_color;
            }

            .sub {
                display: none;
            }

            .suggested_price_error {
                display: inline;
            }
        }
    }

    .when_not_default {
        display: none;
    }

    @each $type in unity, flash, java, html {
        .when_#{$type} {
            display: none;
        }

        &.type_#{$type} {
            .when_default {
                display: none;
            }

            .when_#{$type}, .when_not_default {
                display: block;
            }

            .span#{$type} {
                display: inline;
            }
        }
    }

    p.sub {
        color: #666;
        margin: 5px 0;
    }

    .form_loader {
        display: none;
        margin: 0 10px;
    }

    .cover_image {
        border: 1px dashed #999;
        height: 250px;
        line-height: 250px;
        text-align: center;
        color: #aaa;
        background-size: cover;
        background-position: 50% 50%;

        &.has_image {
            border: 1px solid white;
            box-shadow: 1px 1px 8px gray;

            .inner {
                visibility: hidden;
                color: black;
                background: rgba(255,255,255, 0.8);
                border-radius: 1px;
                box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
            }

            .edit_tools {
                display: inline;
            }

            &:hover {
                .inner {
                    visibility: visible;
                }

            }
        }

        &.loading {
            .inner {
                visibility: visible !important;
            }

            .inner_controls {
                // to prevent swfupload from dying
                height: 0;
                overflow: hidden;
            }

            .loader {
                display: inline-block;
            }
        }

        .inner {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            padding: 10px;
        }

        .edit_tools {
            display: none;
        }

        .loader {
            display: none;
        }

        a {
            color: #666;
        }
    }

    textarea {
        height: 250px;
    }

    .redactor_box {
        margin: 8px 0;
        box-shadow: 0 0 0 1px white, 0px 0px 4px black;
        border: 1px solid #aaa;
    }

    .upload_editor {
        margin: 20px 0;

        &.is_uploading {
            .uploading_message {
                display: block;
            }
        }

        .file_list {
            margin: 10px 0;
        }

        .uploading_message {
            margin: 10px 0;
            color: #666;
            display: none;

            .loader {
                margin-right: 4px;
            }
        }

        .button_divider {
            color: #666;
            margin: 0 10px;
            display: inline-block;
        }
    }

    .uploader {
        $uploader_margin: 15px;
        border: 1px solid #dadada;
        border-radius: 3px;
        margin: 10px 0 20px 0;
        background: white;

        position: relative;
        left: 0;
        top: 0;

        @include transition(top 0.4s ease-in-out, left 0.4s ease-in-out);

        &:first-child {
            .move_up_wrap {
                display: none;
            }
        }

        &:last-child {
            .move_down_wrap {
                display: none;
            }
        }

        &.screenshot_uploader {
            // cool hack
            .when_default {
                display: none;
            }
        }

        &.has_custom_name {
            .upload_fname {
                display: block;
            }
        }

        &.uploaded {
            .progress, .progress_message {
                display: none;
            }

            .upload_tools {
                display: block;
            }
        }

        &.success {
            .success_message {
                display: inline;
            }
        }

        &.has_error {
            .error_message {
                display: block;
            }

            .progress, .progress_message, .upload_price_picker, .upload_demo_picker, .meta_data, .platform_list {
                display: none;
            }
        }

        &.has_price_error {
            .price_error {
                display: inline;
            }
        }

        &.can_embed {
            .upload_embed_picker {
                display: block;
            }
        }

        &:hover {
            .upload_tools {
                opacity: 1.0;
            }
        }

        .inline_edit_input {
            border: 1px solid #AAA;
            width: 300px;
            font-size: 16px;
            box-shadow: none;
            margin: 0 0 5px 0;
            border-radius: 0;
        }

        .upload_title, .meta_data, .platform_list {
            margin-left: $uploader_margin;
            margin-right: $uploader_margin;
        }

        .upload_title {
            margin-top: 10px;
        }

        .platform_list {
            margin-bottom: 15px;
        }

        .price_error {
            color: $error_color;
            display: none;
        }

        .platform_list {
            .platform_picker {
                margin-right: 10px;
                cursor: pointer;

                font-size: 15px;
                color: #444;

                border: 1px solid #dadada;
                padding: 4px;
                border-radius: 4px;

                &.chosen, &:hover.chosen {
                    background: #D2FFB5;
                    border-color: #C1D5B4;
                    color: #3E423C;
                }

                &:hover {
                    background: #efefef;
                    border-color: darken(#dadada, 5%);
                }
            }

            .checkbox {
                margin: 0;
                margin-right: 4px;
                vertical-align: top;
                margin-top: 5px;
            }

        }

        &.min_price_enabled {
            .upload_price_picker {
                .min_price_input_row {
                    display: block;
                }
            }

            .upload_demo_picker {
                display: none;
            }
        }

        &.is_demo {
            .upload_price_picker {
                display: none;
            }
        }

        &.is_embed {
            .upload_demo_picker, .upload_price_picker, .platform_list, .display_name_wrap {
                display: none;
            }
        }

        .upload_price_picker, .upload_demo_picker, .upload_embed_picker {
            border-top: 1px solid #dadada;
            padding: 10px $uploader_margin;
            color: #666;

            label {
                @include unselectable;
            }

            .checkbox {
                margin: 0;
                margin-right: 5px;
            }
        }

        .upload_embed_picker {
            display: none;
        }

        .upload_price_picker {
            .min_price_input_row {
                margin: 10px 0 0 0;
                display: none;
            }

            .file_min_price {
                display: inline-block;
                width: 60px;
                padding: 4px 6px;
                margin-right: 10px;

                &.has_error {
                    border: 1px solid lighten($error_color, 20%);
                    color: $error_color
                }
            }

        }

        .upload_content {
            line-height: 1.5;
        }

        .upload_display_name {
            font-size: 16px;
        }

        .upload_fname {
            color: #666;
            display: none;
        }

        .meta_data {
            margin: 5px $uploader_margin 10px $uploader_margin;

            a {
                color: #666;
            }
        }

        .upload_tools {
            display: none;
            float: right;
            margin: 15px 15px 0 0;
            opacity: 0.5;
            @include transition(opacity 0.15s ease-in-out);

            .on_hover {
                display: none;
            }
        }

        .success_message, .error_message, .progress_message {
            display: none;
            color: #666;
        }

        .error_message {
            color: $error_color;
            margin: $uploader_margin;
            font-size: 16px;
            line-height: 1.5;
        }

        .progress_message {
            display: inline;
        }

        .file_size {
            color: #999;
        }

        .progress {
            border: 1px solid #889FAD;
            background: #E5F9FF;
            height: 20px;
            position: relative;
            margin: $uploader_margin;

            .progress_inner {
                @include prefixed(animation, scroll_background 1s linear);
                @include prefixed(animation-iteration-count, infinite);
                @include prefixed(transition, right 0.1s ease-in-out);

                background: #01A2D5;
                background-image: url("/static/images/progress_stripe.png");
                background-position: 0 0;
                position: absolute;
                margin: 1px;
                top: 0;
                left: 0;
                bottom: 0;
                right: 100%;
            }
        }

    }

    .screenshot_editor {
        margin-top: 20px;

        .screenshot_list {
            margin: 10px 0;
            overflow: hidden;

            a {
                color: #666;
            }

            height: 0;

            &.has_image {
                height: auto;
                border: 1px solid $border_color;
                background: #eee;
            }
        }

        .screenshot {
            position: relative;
            width: 250px;
            margin: 20px auto;
            box-shadow: 1px 1px 4px gray;

            .screen_tools {
                position: absolute;
                right: 10px;
                top: 10px;
                display: none;

                padding: 10px;

                color: black;
                background: rgba(255,255,255, 0.8);
                border-radius: 1px;
                box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
            }

            img {
                display: block;
                width: 250px;
            }

            &:hover {
                .screen_tools {
                    display: block;
                }
            }
        }
    }

    .domain_wrapper {
        position: relative;
        .domain {
            @include unselectable;
            font-size: 16px;
            color: #999;
            position: absolute;
            top: 0;
            left: 0;
            padding: 8px 0 0 8px;
            margin: 6px 0 0 6px;
        }
    }

    .game_dimensions {
        .mult {
            font-size: 18px;
            color: #999;
            margin: 0 10px;
        }

        .dimension_label {
            margin-right: 8px;
            color: #666;
        }

        input.inline_input {
            width: 30px;
            text-align: right;
            margin-right: 4px;
        }
    }

    .money_input {
        width: 350px;
    }

    .suggest_toggle_row {
        color: #444;

        input {
            vertical-align: middle;
            margin: 0 5px 0 0;
        }
    }

    .disabled_payments_input_row {
        margin: 8px 0 0 10px;
        display: inline-block;
        color: #444;

        input {
            vertical-align: middle;
            margin: 0 5px 0 0;
        }
    }

    .warning_box {
        padding-bottom: 0;

        p {
            margin: 0 0 20px 0;
            font-size: 16px;
            line-height: 1.5;
            width: 600px;
        }
    }

    .tags_input_row {
        .tag_input {
            @include default_font;
            font-size: 14px;
            width: 542px;
            border-color: $input_border_color;
        }

        .text-core .text-wrap .text-tags .text-tag .text-button {
            font-size: 14px;
            height: 19px;
            @include default_font;
            background: mix(white, $input_border_color, 75%);
            border-color: $input_border_color;

            .text-remove {
                top: 4px;
            }
        }
    }
}


@include keyframes(scroll_background) {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -30px 0;
    }
}
