

.export_purchases {
    .range_form_outer {
        margin: 40px 0;

        &.has_purchases {
            .found_purchases {
                display: table;
            }
        }

        &.no_results {
            .found_purchases {
                p {
                    display: none;
                }
            }
        }

        &.is_plural {
            .plural {
                display: inline-block;
            }

            .singular {
                display: none;
            }
        }

        .plural {
            display: none;
        }

        .found_purchases {
            display: none;
            margin: 20px 0;
        }
    }

    .horiz_inputs {
        margin-bottom: 20px;

        .input_row {
            vertical-align: top;
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        input.date_picker {
            width: 200px;
        }
    }

    form {
        .loader {
            display: none;
        }

        &.loading {
            .loader {
                display: inline-block;
            }
        }
    }
}
