
.game_gift, .game_gift_success {
    padding: 0;

    p {
        margin: 20px 40px;
        line-height: 1.5;
        font-size: 16px;
    }
}

.game_gift_success {
    padding-bottom: 20px;
}

.game_gift {
    .game_title {
        &:before {
            content: "“";
            font-weight: normal;
            color: #999;
        }

        &:after {
            content: "”";
            font-weight: normal;
            color: #999;
        }
    }

    form {
        margin: 20px 40px;

        &.has_errors {
            .errors {
                display: inline-block;
            }
        }

        &.loading {
            .loader {
                display: inline-block;
            }
        }

        .loader {
            margin-left: 10px;
            display: none;
        }

        .errors {
            display: none;
            color: $error_color;
            margin-left: 10px;
        }
    }

    .footer_links {
        border-top: 1px solid #dadada;
        color: #555;

        a {
            color: #666;
        }
    }
}

