
.game_summary {
    padding: 0;

    .padded {
        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 20px 0;
        }
    }

    .empty_message {
        color: #444;
        margin: 20px 0;
    }

    .referrers {
        table {
            width: 100%;
            td {
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .uploads, .purchases_outer {
        margin-top: 40px;
    }

    .purchases_outer {

        .pager {
            margin-bottom: 10px;
        }

        &.first_page {
            .prev_page_btn {
                cursor: default;
                text-decoration: none;
                color: #ccc;
            }
        }

        &.last_page {
            .next_page_btn {
                cursor: default;
                text-decoration: none;
                color: #ccc;
            }
        }

    }

    .purchases {
        &.loading {
            @include opacity(0.5);
        }

    }

    .graph_container {
        margin-left: -20px;
    }

    .stat_header {
        .text_container {
            h2 {
                @include single_line;
                max-width: 320px;
            }
        }
    }
}

.purchase_list_table {
    &.show_emails {
        .email_cell {
            max-width: none;
        }
    }

    .email_cell {
        @include single_line;
        max-width: 150px;
    }
}

