
.game_download, .bundle_download {
    padding: 0;
    padding-bottom: 20px;

    h2 {
        margin: 40px;

        .object_title {
            &:before {
                content: "“";
                font-weight: normal;
                color: #999;
            }

            &:after {
                content: "”";
                font-weight: normal;
                color: #999;
            }
        }

    }

    h3 {
        margin: 20px 40px;
    }

    .email_capture {
        background: #FFFED8;
        color: darken($warning_color, 60%);
        border-bottom: 1px solid darken($warning_color, 10%);
        border-top: 1px solid darken($warning_color, 10%);
        padding: 20px 40px;

        p {
              margin: 20px 0;
        }

        .form {
            .label {
                color: darken($warning_color, 60%);
                margin-bottom: 5px;
            }

            input {
                background: rgba(255,255,255,0.8);
                width: 300px;
            }

            .submit_link {
                margin-left: 10px;
            }

            .input_row {
                margin-bottom: 0;
            }
        }

    }

    .purchase_time, .purchase_email {
        color: #444;
        font-style: italic;
    }

    .purchase_price {
        font-weight: bold;
    }

    .email_claim {
        form.loading {
            .loader {
                display: inline-block;
            }
        }

        .loader {
            display: none;
            margin-left: 10px;
        }
    }

    p {
        margin: 20px 40px;
        line-height: 1.5;
        font-size: 16px;
    }

    .social_buttons {
        margin: 20px 40px;
    }

    .bottom_links {
        font-size: 16px;
        margin: 20px 40px;
    }
}

.game_download {
    .empty_message {
        font-size: 16px;
        margin: 0 0 15px 0;
    }

    .uploads {
        margin: 20px 0;
        padding: 20px 40px;
        padding-bottom: 5px;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        position: relative;

        .trouble_link {
            position: absolute;
            bottom: 4px;
            right: 40px;
            font-size: 12px;
            color: #999;
            a {
                color: #999;
            }
        }
    }

    .upload {
        margin-bottom: 15px;

        .button {
            margin-right: 10px;
        }

        .file_size {
            color: #666;
        }

        .download_platforms {
            font-size: 15px;
            margin-left: 5px;

            .icon {
                vertical-align: top;
                margin-left: 5px;
                color: #666;
            }
        }

        &:hover {
            background: rgba(0,0,0, 0.05);
            border-radius: 0 4px 4px 0;
        }
    }


    .game_grid {
        margin-left: 40px - 3px;
        margin-right: 20px - 3px;
    }

    .game_grid_outer {
        h2 {
            margin: 40px 40px 20px 40px;
        }
    }

    .download_instructions, .external_keys {
        margin-bottom: 40px;

        .formatted {
            margin-left: 40px;
            margin-right: 40px;

            h1, h2, h3, h4, h5 {
                margin: 0 0 20px 0;
            }

            p {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .key_claim {
        &.loading {
            .loader {
                display: inline-block;
            }
        }

        &.has_key {
            .key_row {
                display: block;
            }

            .claim_action_row, .before_claim {
                display: none;
            }
        }


        &.has_error {
            .claim_action_row, .before_claim {
                display: none;
            }

            .claim_error {
                display: block;
            }
        }

        .loader {
            margin-left: 10px;
            display: none;
        }

        .key_row, .claim_error {
            display: none;
        }

        .claim_error {
            font-style: italic;
            color: #666;
        }

        .key_container {
            border: 1px solid #aaa;
            margin: 0;
            padding: 4px;
            font-size: 16px;
            color: #666;
            width: 300px;
        }
    }

}


.alt_download_lightbox {
    width: 500px;
}


.download_key_claimed {
    padding: 0;

    p {
        line-height: 1.5;
        font-size: 16px;
        margin: 20px 40px;
    }
}

.bundle_download {
    .game_outer {
        border-top: 1px solid $border_color;
        border-bottom: 1px solid $border_color;
    }

    .game_row {
        @include has_game_thumb;
        @include clearfix;
        margin: 0 40px 40px 40px;
        font-size: 16px;

        .game_thumb {
            float: left;
        }

        .game_title {
            margin: 0;
            margin-top: 5px;

            a {
                text-decoration: none;
            }
        }

        .meta_row {
            @include single_line;
            line-height: 1.5;
            color: #444;
        }

        .game_short_text {
            color: #666;
        }

        .button_row {
            margin-top: 15px;
        }

        .file_count {
            margin-top: 6px;
        }

        .game_row_data {
            margin-left: $game_thumb_width + 20px;
        }
    }
}
