
.game_grid {
    .game_cell {
        display: inline-block;
        vertical-align: top;
        text-align: left;

        margin: 0 20px 40px 0;

        // width: 315px; // set width for overflow

        .game_thumb {
            background-color: white;
            background-position: 50% 50%;
            background-size: cover;

            display: block;
            position: relative;

            width: 315px;
            height: 250px;
            @include thumbnail_style;

            .no_cover_text {
                color: #dadada;
                font-size: 120px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: (-120px / 2);
                margin-top: (-130px / 2);
            }
        }

        .thumb_link {
            text-decoration: none;
        }

        .game_title {
            font-size: 18px;
            margin-top: 10px;
            line-height: 27px;

            a.title {
                font-weight: bold;
                text-decoration: none;
                margin-right: 6px;
            }
        }

        .game_author {
            @include single_line;
            font-size: 14px;
            margin-bottom: 6px;

            a {
                color: #666;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .game_genre, .game_platform, .game_text, .game_sale {
            font-size: 14px;
            margin-bottom: 2px;
            color: #999;
        }

        .game_sale {
            font-weight: bold;
            color: #333;
        }

        .game_text {
            color: #444;
            @include single_line;
        }

        .price_flag {
            display: inline-block;
            vertical-align: top;
            height: 18px;
            line-height: 18px;

            .icon {
                vertical-align: top;
                margin-left: 5px;
            }

            $bgcolor: $buy_color;
            background: $bgcolor;
            color: white;
            text-shadow: 1px 1px 1px darken($bgcolor, 10%);

            padding: 2px 6px;
            border-radius: 3px;
            font-size: 13px;

            &:hover {
                background: lighten($bgcolor, 2%);
            }

            &:active {
                background: darken($bgcolor, 2%);
            }
        }


        .sale_flag {
            display: inline-block;
            vertical-align: top;
            background: $sale_color;
            height: 22px;

            border-radius: 3px;

            &:hover {
                .price_flag {
                    background: lighten($buy_color, 2%);
                }

                background: lighten($sale_color, 8%);
            }

            .price_flag {
                border-radius: 3px 0 0 3px;
                border-right: 1px solid lighten($buy_color, 20%);
            }

            .sale_amount {
                display: inline-block;
                vertical-align: top;

                height: 18px;
                line-height: 18px;
                padding: 2px 6px;
                font-size: 13px;
                color: white;

                text-shadow: 1px 1px 1px darken($sale_color, 15%);
                border-left: 2px solid #E2AC00;

                &:first-child {
                    border-left: 0;
                }
            }
        }

    }
}

.game_list {
    $ar: (315/250);
    white-space: nowrap;

    .game_cell {
        width: 200px;
        white-space: normal;
        margin-bottom: 20px;

        .game_thumb {
            width: 200px;
            height: floor(200px / $ar);
        }

        .price_flag, .game_text, .game_genre, .game_platform, .game_sale {
            display: none;
        }
    }
}

