
@import "lib/perfect-scrollbar";

$sidebar_width: 260px;
$dark_border_color: #444;
$index_bg: #333;

.index {
    background: $index_bg;

    .new_box {
        white-space: nowrap;
        position: relative;
        border: 1px solid $dark_border_color;
        border-radius: 3px;
        background: #2b2b2b;
        padding: 8px 12px;
        vertical-align: top;

        display: inline-block;
        color: white;
        font-size: 16px;
        font-weight: normal;
        text-align: left;

        margin: 8px 0 0 30px;

        @media (max-width: 1155px) {
            display: none;
        }

        &.secondary_new_box {
            @media (max-width: 1500px) {
                display: none;
            }
        }

        .new_col {
            white-space: normal;
            display: inline-block;
            vertical-align: middle;

            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        .button {
            display: block;
        }

        p {
            width: 145px;
            line-height: 1.2;
        }

        p:first-child {
            margin-top: 0
        }

        p:last-child {
            margin-bottom: 0
        }
    }

    .feature_game_row {
        text-align: center;
        margin-bottom: 20px;
    }

    .feature_game {
        display: inline-block;
        text-align: left;

        position: relative;
        margin: 0 20px;

        // width: 45%;
        width: 750px;
        height: 340px;

        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

        background: #222;
        background-image: url("/static/feature/echo/video_thumb.png");
        background-position: 50% 50%;
        background-size: cover;

        &:hover {
            .game_screenshots {
                @include opacity(1);
                @include prefixed(transform, translate(0,0));
            }
        }

        .inset_highlight {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: 2px;
            box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.3);
        }

        .game_data {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            margin-top: -45px;
            background: rgba(0,0,0,0.7);
            color: white;
            height: 90px;

            h1 {
                margin: 16px 0 0 20px;
                color: white;
                font-weight: normal;
            }

            h2 {
                margin: 4px 0 0 20px;
                color: white;
                font-size: 16px;
                font-weight: normal;
                color: #aaa;
            }
        }

        .data_right {
            position: absolute;
            top: 0;
            right: 0;
        }

        .game_price {
            @include transition(background 0.2s ease);
            display: inline-block;
            line-height: 90px;
            color: #70F1C9;
            background: rgba(104, 145, 127, 0.6);
            height: 90px;
            padding: 0 40px;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                background: rgba(104, 145, 127, 0.9);
            }
        }

        .game_screenshots {
            @include transition(all 0.6s ease, opacity 0.3s ease);
            @include prefixed(transform, translate(-10px,0));
            @include opacity(0);

            position: absolute;
            text-align: right;
            left: 20px;
            bottom: 20px;

            img {
                cursor: pointer;
                display: inline-block;
                height: 80px;
                box-shadow: 0 0 0 1px white, 0 0 10px 2px rgba(0,0,0,0.4);
                position: relative;
                margin-right: 20px;
            }
        }

        .game_tags {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            text-align: right;
            margin-top: 3px;
        }

        $tag_color: rgba(255,255,255, 0.8);
        .tag {
            @include transition(all 0.2s ease);
            display: inline-block;
            color: $tag_color;
            border: 1px solid $tag_color;
            border-radius: 4px;
            padding: 4px 10px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
            margin-left: 10px;

            &:hover {
                background: white;
                border-color: white;
                color: #333;
            }
        }
    }


    .footer {
        margin-left: $sidebar_width;

        border-top: 1px solid $dark_border_color;
        margin-bottom: 0;
        height: 40px;
        line-height: 40px;

        text-shadow: none;
        .inner_column {
            font-size: 14px;
            width: auto;
            padding: 0 20px;
        }
    }

    .buttons_header {
        border-bottom: 1px solid $dark_border_color;
        margin-bottom: 20px;
        position: relative;
        @include clearfix;

        .left_content {
            float: left;
        }

        h2 {
            color: white;
            margin: 23px 0 0 20px;
            display: inline-block;
            vertical-align: top;
        }
    }

    .anon_intro {
        p {
            color: mix(white, $index_bg, 80%);
            font-size: 16px;
            margin: 20px;
        }

        .outline_button {
            @include outline_button;
            margin-left: 10px;
            margin-right: 3px;
        }

        a {
            color: white;
        }
    }

    .see_all_games {
        color: white;
        text-align: center;
        font-size: 16px;
        color: mix(white, $index_bg, 80%);

        a {
            @include outline_button;
            margin-left: 10px;
            .icon {
                margin-left: 5px;
                position: relative;
                top: 1px;
            }
        }
    }
}

.index_games {
    margin-left: $sidebar_width;

    .featured_game_grid {
        margin-top: 0;
        padding-top: 0;
    }

    .itchio_cell {
        .cell_body {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 20px;
            left: 20px;
            margin: auto 0;
            height: 185px;
        }

        p {
            max-width: 400px;
            font-size: 22px;
            text-shadow: 0px 1px 1px rgba(0,0,0, 0.7);
            margin: 20px 0;
            margin-left: 4px;

            .sub {
                font-size: 18px;
            }
        }

        .button {
            font-size: 18px;
            line-height: 40px;
            height: 40px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            margin-right: 4px;
            padding-left: 20px;
            padding-right: 20px;
            border-bottom: 4px solid #C34848;
        }

        .primary_button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
        }

        a {
            color: white;
        }

    }

    .user_panel {
        margin: 20px 13px 20px 20px;
        position: static;
        text-align: right;
        color: #aaa;
        line-height: normal;
    }

    .social_buttons {
        position: absolute;
        top: 20px;
        left: 20px;

        .social_button {
            display: block;
        }
    }

    .game_cell {
        .game_thumb {
            @include opacity(1);
            @include transition(opacity 0.30s ease-in-out);
        }

        &.has_cover {
            &.image_loading {
                .game_thumb {
                    @include opacity(0);
                }
            }
        }


        &.video_loaded {
            .game_thumb {
                opacity: 0;
            }

            &:hover {
                .game_thumb {
                    opacity: 0.9;
                }
            }
        }

    }
}


.featured_game_grid {
    color: #ddd;
    padding: 20px 0 0 20px;
    margin-bottom: 20px;

    h2 {
        color: #eee;
        padding-right: 20px;
        margin: 0;
        margin-bottom: 25px;
        font-weight: normal;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: black;
    }

    .video_shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.3);
    }

    .game_cell {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        margin-bottom: 25px;

        &:hover {
            .label {
                bottom: 0px;
            }

            .fading_data {
                opacity: 1.0;
            }
        }

        body.disable_hover &:hover {
            .label {
                bottom: -30px;
            }

            .fading_data {
                opacity: 0;
            }
        }

        &.image_loading {
            .game_thumb {
                opacity: 0;
            }
        }


        .fading_data {
            @include opacity(0);
            @include transition(opacity 0.20s ease-in-out);
        }

        .bordered {
            background: rgba(0,0,0,.5);
            width: 192px;
            height: 152px;

            position: relative;
            border-radius: 2px;

            box-shadow: 0 0 10px rgba(0,0,0, 0.8);
        }

        .sale_flag {
            @include border_box;
            position: absolute;
            top: -9px;
            right: 0;

            background: url("/static/images/ribbon-sale.png");
            width: 54px;
            height: 61px;

            color: #867132;
            text-shadow: 0 1px 0 #FFF18E;

            .mini_label {
                font-size: 12px;
                color: #A78F4A;
                text-transform: uppercase;
                line-height: 1.1;
            }

            .text {
                text-align: center;
                position: absolute;
                top: 10px;
                left: 10px;
                right: 9px;
                font-weight: bold;
            }
        }

        .meta_tag {
            float: right;
            position: relative;
            z-index: 1;
            border-radius: 3px;
            padding: 2px 5px;
            text-transform: uppercase;
            margin-left: 10px;
            font-size: 13px;
            letter-spacing: 0.05em;
            box-shadow: 0 0 0 5px $index_bg;

            &.price_tag {
                background: mix($buy_color, $index_bg, 75%);
                color: white;
            }

            &.free_tag {
                background: #232323;
            }

            &.web_tag {
                background: mix(white, $index_bg, 50%);
                color: #222;
            }

        }

        .game_thumb {
            @include transition(opacity 0.20s ease-in-out);

            vertical-align: top;
            display: block;
            position: absolute;
            border-radius: 2px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.3);
            background-position: 50% 50%;
            background-size: cover;
        }

        .label {
            color: white;
            font-size: 14px;
            @include single_line;
            color: #aaa;
            margin-top: 6px;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #aaa;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .meta_data {
            @include unselectable;

            position: absolute;
            bottom: 5px;
            left: 5px;


            padding: 2px 6px;
            height: 18px;
            line-height: 18px;
            font-size: 16px;
            color: white;
            border-radius: 2px;

            background: rgba(0,0,0, 0.5);
            box-shadow: 0 0 0 1px rgba(255,255,255, 0.2);
            text-shadow: 0 0 4px black;

            cursor: default;
            white-space: nowrap;


            font-size: 14px;

            word-spacing: 5px;
        }
    }
}

.index_sidebar {
    $dark_border_color: #4D4D4D;
    $sidebar_bg: #232323;

    background: $sidebar_bg;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    width: $sidebar_width;
    top: 0;
    bottom: 0;
    box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.1);
    border-right: 2px solid $dark_border_color;

    h1 {
        border-bottom: 2px solid $dark_border_color;
        margin: 0 0 10px 0;
        padding: 5px 0 0 0;
        text-align: center;
        background: url(images/home2/stock_dark.jpg) 50% 65% no-repeat;
        background-size: cover;
    }

    h2 {
        text-align: center;
        font-weight: normal;
        color: mix(white, $sidebar_bg, 80%);
        margin: 10px 0 0 0;
    }

    h3 {
        margin: 10px 20px;
        font-weight: bold;
        color: mix(white, $sidebar_bg, 60%);
    }

    .blog_posts {
        .post_link {
            @include single_line;
            display: block;
            font-size: 16px;
            line-height: 1.5;
            padding: 5px 20px;
            @include transition(background 0.1s ease);
            color: mix(white, $sidebar_bg, 40%);
            text-decoration: none;
            border-bottom: 1px solid lighten($sidebar_bg, 5%);

            &:first-child {
                border-top: 1px solid lighten($sidebar_bg, 5%);
            }

            &:hover {
                background: lighten($sidebar_bg, 3%);
            }

            &:active {
                background: darken($sidebar_bg, 3%);
            }
        }
    }

    .browse_filters {
        text-align: center;
        margin: 10px 10px 20px 10px;

        a {
            @include border_box;
            @include transition(all 0.2s ease);
            @include outline_button;
            margin: 5px 4px;
        }
    }

    .game_search {
        border-top: 2px solid $dark_border_color;
        border-bottom: 2px solid $dark_border_color;
        padding: 10px 20px;

        input[type=text] {
            @include transition(box-shadow 0.1s ease);
            @include border_box;
            width: 100%;
            border: 0;
            font-size: 16px;
            padding: 8px 15px;
            background: #eee;
            border-radius: 4px;
            box-shadow: 0 0 0 0 $link_color;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px $link_color;
            }
        }
    }
}

