
@import "lightboxes/add_game_to_jam";

.edit_jam {
    padding: 0;

    &.has_errors {
        .form_errors {
            display: block;
        }
    }

    &.fields_disabled {
        .field_picker {
            .button {
                display: none;
            }
        }

        .fields_blocked {
            display: block;
        }
    }

    &.criteria_disabled {
        .criteria_picker {
            .button {
                display: none;
            }
        }

        .criteria_blocked {
            display: block;
        }
    }

    &.type_non_ranked {
        .date_row_voting_end_date {
            display: none;
        }

        .criteria_picker_row {
            display: none;
        }
    }

    form {
        &.loading {
            .loader {
                display: inline-block;
            }

            .view_jam_link {
                display: none;
            }
        }
    }

    .loader {
        margin-right: 10px;
        display: none;
    }

    .CodeMirror {
        border: 1px solid #aaa;
        border-radius: 2px;
        margin: 6px 0;
        box-shadow: 0 0 0 1px #FFF, 0px 0px 1px 2px #BEBEBE;
    }

    .field_picker, .criteria_picker {
        color: #999;

        a  {
            color: #666;
        }
    }

    .criteria_picker {
        input[type=text] {
            width: 300px;
            margin-right: 10px;
        }
    }

    .field_row, .criteria_row {
        position: relative;
        left: 0;
        top: 0;
        @include transition(top 0.4s ease-in-out, left 0.4s ease-in-out);

        border: 1px solid #dadada;
        border-radius: 3px;
        margin: 10px 0 20px 0;
        padding: 10px;
        width: 542px;
    }


    .field_row {
        &.has_data {
            .data_row {
                display: block;
            }
        }

        .data_row {
            display: none;
        }
    }

    .criteria_blocked, .fields_blocked {
        display: none;
        color: #444;
    }

    .domain_wrapper {
        position: relative;

        .domain {
            @include unselectable;
            font-size: 16px;
            color: #999;
            position: absolute;
            top: 0;
            left: 0;
            padding: 8px 0 0 8px;
            margin: 6px 0 0 6px;
        }
    }

    input[type=checkbox] {
        margin-left: 0;
    }

    .padded {
        padding-left: 0;
        padding-right: 0;
    }

    .input_row {
        margin-left: 40px;
        margin-right: 40px;
    }

    .buttons {
        border-top: 1px solid $border_color;
        padding: 20px 40px 0 40px;
        margin-top: 30px;
    }

    .form_errors {
        display: none;
        margin: 0 40px 30px 40px;
        font-size: 16px;

        li {
            line-height: 1.5;
        }
    }

    .about_jams {
        margin: 0 40px 30px 40px;
        font-size: 16px;

        p {
            max-width: 600px;
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 20px 0;
        }
    }
}

.jam_rate_summary {
    ul {
        font-size: 16px;
        line-height: 1.5;
    }
}

.view_jam_classic {
    padding: 0;

    &.before_start {
        .countdown_row {
            display: block;
        }

        .ends_in, .ended {
            display: none;
        }
    }

    &.during_jam {
        .countdown_row {
            display: block;
        }

        .ended, .starts_in {
            display: none;
        }
    }

    &.after_end {
        .countdown_row {
            display: block;
        }

        .ends_in, .starts_in, .countdown {
            display: none;
        }
    }

    .countdown_row {
        display: none;
    }

    .twitter_widget {
        float: right;
        margin-top: 30px;
        margin-right: 40px;
        width: 300px;
    }

    .jam_content {
        padding: 0 40px 20px 40px;

        &.upper {
            margin-right: 350px;
        }

        ul, ol {
            li {
                margin: 8px 0;
            }
        }
    }

    .game_grid {
        padding-left: 40px;
        padding-right: 20px;
    }

    .sub {
        color: #666;
    }

    .countdown_row {
        margin-top: 10px;
        color: #aaa;
    }

    .countdown {
        display: inline-block;

        .countdown_section {
            vertical-align: middle;
            display: inline-block;
            margin: 5px 12px;
            margin-right: 0;
            font-size: 12px;
            color: #666;
            font-style: italic;

            border-left: 2px solid lighten(gray, 40%);
            padding-left: 10px;
        }

        .countdown_amount {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
        }
    }
}

.saltw_jam {
    &.saltw_winter_jam {
        .page_header {
            background-image: url(//i.imgur.com/TNnHzms.png);
            background-size: cover;
            height: auto;

            h2 {
                color: white;
            }

            .block {
                background: rgba(0,0,0,0.7);
                p {
                    color: #ddd;
                }
            }

            .countdown_row {
                color: white;
            }

            .countdown {
                .countdown_section {
                    color: #ddd;
                }
            }
        }

        .theme_banner {
            text-align: center;
        }
    }


    .video_header {
        video {
            // width: 100%;
            width: 960px;
            height: 540px;
            display: block;
        }
    }

    .page_header {
        position: relative;
        overflow: hidden;
        height: 540px;
        background: black url("//commondatastorage.googleapis.com/itchio/misc/swjam.png");

        .block {
            display: inline-block;
            background: rgba(0,0,0,0.5);
            color: white;
            padding: 20px;
            margin: 0;
            margin-bottom: 10px;
            text-shadow: 0 0 2px black;

            &.top_block {
                margin-top: 50px;
            }

            &.bottom_block {
                margin-bottom: 50px;
            }
        }

        h1, h2, p {
            color: white;
            font-weight: normal;
            margin: 0;
        }

        p {
            width: 400px;
            color: #ccc;
        }

        h1 {
            font-size: 48px;
            a {
                color: white;
                text-decoration: none;
                @include transition(all 0.10s ease-in-out);

                &:hover {
                    background: rgba(255,255,255, 0.2);
                    box-shadow: 0 0 0 5px rgba(255,255,255, 0.2);
                }
            }
        }

        h2, p {
            font-size: 16px;
        }

        h2 {
            color: #888;
        }

        em {
            color: #01BE5C;
        }

        p a {
            color: #01BE5C;
        }

        .button_row {
            margin-top: 20px;
        }

        .social_buttons {
            display: inline-block;
            margin-left: 20px;
            vertical-align: middle;
        }

        .header_overlay {
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 0;
            right: 0;

        }
    }

    .please_join_us {
        border: 1px solid #E2E2E2;
        margin: 20px 40px;
        background: #F3F3F3;

        p {
            margin: 20px;
        }

        .join_row {
            text-align: center;
        }

        .quote {
            font-size: 16px;

            &:before {
                content: "“";
                font-weight: normal;
                color: #999;
            }

            &:after {
                content: "”";
                font-weight: normal;
                color: #999;
            }
        }
    }

    .youtube_video{
        width: 800px;
        margin: 20px auto;
    }
}


