.jam_rate_game {
    $column_width: 315px + 40px;
    padding: 0;

    &.no_cover {
        .data_column {
            display: none;
        }

        .main_column {
            width: auto;
            display: block;
            .rate_cell {
                padding: 20px 40px;
            }
        }
    }

    .empty_message {
        font-size: 16px;
        color: #666;
    }

    .game_cover {
        margin: 20px 0 0 20px;
        display: block;
    }

    .screenshot {
        display: inline-block;
        margin: 20px 0 0 20px;
    }

    .game_downloads {
        .upload {
            margin-bottom: 15px;

            .button {
                margin-right: 10px;
            }

            .file_size {
                color: #666;
            }

            .download_platforms {
                font-size: 15px;
                margin-left: 5px;

                .icon {
                    vertical-align: top;
                    margin-left: 5px;
                    color: #666;
                }
            }

            &:hover {
                background: rgba(0,0,0, 0.05);
                border-radius: 0 4px 4px 0;
            }
        }

    }

    .jam_comment_list, .criteria_rater, .visit_game, .field_responses {
        p, li {
            font-size: 16px;
            line-height: 1.5;
            color: #555;
        }

        p {
            margin: 20px 0;
        }

    }

    .field_responses {
        p {
            margin-top: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }


        .cc_flag {
            img {
                vertical-align: middle;
            }

            .country {
                font-size: 16px;
                color: #666;
                margin-left: 10px;
                vertical-align: middle;
            }
        }

        .badges {
            .badge {
                border: 1px solid $border_color;
                border-radius: 6px;
                margin-bottom: 20px;
                padding: 15px 10px;

                img {
                    display: block;
                    margin: 10px auto 20px auto;
                    max-width: 540px;
                }
            }
        }
    }

    .jam_comment_list {
        .jam_comment {
            border: 1px solid #dadada;
            margin-bottom: 20px;
            border-radius: 2px;

            .comment_head {
                background: #f7f7f7;
                border-bottom: 1px solid #dadada;
                font-size: 16px;
                padding: 10px;

                a {
                    color: #666;
                }

                .comment_date {
                    color: #999;
                }
            }

            .comment_body {
                p {
                    margin: 10px;
                }
            }
        }
    }

    .rate_cell {
        border-bottom: 1px solid #dadada;
        padding: 20px;

        &:last-child {
            border-bottom: 0;
        }
    }

    .criteria_rater {
        .criteria_wrap {
            display: inline-block;
            text-align: right;
        }

        .crit_label {
            font-weight: bold;
            color: #666;
        }

        .buttons_row {
            margin-top: 20px;
        }
    }

    .jam_columns {
        overflow: hidden;
    }

    .data_column, .main_column {
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        display: inline-block;
        vertical-align: top;

        position: relative;
        left: 1px;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
            left: 0;
        }
    }

    .data_column {
        width: $column_width;
        padding-bottom: 20px;

        .game_screenshots {
            img {
                width: 147px;
            }
        }
    }

    .main_column {
        width: $site_width - $column_width - 2px;
    }

    .jam_game_header {
        border-bottom: 1px solid #dadada;
        padding-bottom: 20px;

        .num_ratings {
            float: right;
            color: #666;
            font-size: 14px;
            padding: 10px 40px 0 0;
        }

        h2 {
            font-size: 16px;
            color: #666;
            padding: 10px 40px;
            font-weight: normal;
            border-bottom: 1px solid #dadada;

            a {
                color: #666;
                font-size: 14px;
                margin-left: 10px;
            }
        }

        h1 {
            margin: 20px 40px 0 40px;
            font-size: 24px;

            .sub {
                color: #666;
                font-size: 14px;
                margin-left: 10px;
                font-weight: normal;
            }
        }

        .short_text, .game_author {
            margin: 3px 40px 0 40px;
            font-size: 14px;
            color: #666;

            a {
                color: #666;
            }
        }

        .game_author {
            margin-top: 5px;
            color: #999;
        }

        .submission_tools {
            margin: 20px 40px 10px 40px;
            .button {
                margin-right: 10px;
            }
        }
    }

    .star_picker {
        margin: 5px;
    }
}
