
.late_submit_url_lightbox {
    .button_row, .form {
        margin: 20px 40px;
    }

    .form {
        .submit_url_input {
            width: 400px;
        }
    }
}

.jam_submissions {
    padding: 0;

    .pager {
        padding: 30px 40px 20px 40px;
        border-bottom: 1px solid $border_color;

        .button {
            margin-right: 10px;
        }
    }

    .empty_message {
        font-size: 16px;
        margin: 40px;
    }

    .jam_game_list {
        h3 {
            margin: 30px 40px 10px 40px;
        }
    }

    .jam_game {
        border-bottom: 1px solid $border_color;
        padding: 20px 40px;
        font-size: 16px;
        line-height: 1.5;
        overflow: hidden;
        position: relative;

        .game_image {
            @include thumbnail_style;
            float: left;
            width: 105px;
            height: 83px;
            text-align: center;

            a {
                text-decoration: none;
            }

            img {
                display: block;
                width: 105px;
                height: 83px;
            }

            .no_cover {
                color: #ddd;
                font-size: 50px;
                margin-top: 13px;
            }
        }

        .jam_game_content {
            margin-left: 125px;
        }

        .game_title {
            font-size: 20px;
            line-height: 1.1;
            margin-bottom: 5px;

            a {
                text-decoration: none;
            }
        }

        .submission_misc {
            color: #888;

            a {
                color: #666;
            }
        }

        .submit_date {
            color: #666;
        }
    }

    .late_submit_form_outer {
        padding: 30px 40px 20px 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid $border_color;

        p {
            font-size: 16px;
            line-height: 1.5;
            max-width: 600px;
        }

        .game_url_input {
            width: 300px;
            margin-right: 15px;
        }
    }
}
