
body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA7klEQVRYR83Xuw4CIRCFYSkoeP9HpKWhoiARwyaYdeUyZ7huZeHu/wVRRmGtDS/G5b0PzjkRb1VKBSnl9Rq9BAdwj6cgFwEDcvEeBASoxbkIMoAS5yBIACSOIpoAThxBVAE9cSqiCBgRpyCygJHxFuIPMCNeQ/wAZsZLiC9gRTyHuAAr40+EMMa806mGnmS9748HmNBas47j3ni6fz9g+0ewfROmiWjlN+E+PZ3zQ5R25cyVyM2N5x1GM1aiNjGfO5CMWAnKf4XmTBghnI1JicdnkwAoghqHAFQEEocBLQQaZwFKCE6cDXgiuPH4nA8Tm2H8sDE2bAAAAABJRU5ErkJggg==);
    font-family: Lato, sans-serif;
}

button, input {
    font-family: Lato, sans-serif;
}

h1, h2, h3, h4 {
    color: #444;
}


h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.inner_column {
    width: $site_width;
    margin: 0 auto;

    &.centered {
        text-align: center;
    }

}

.main {
    .inner_column {
        @include clearfix;
        margin: 20px auto 0 auto;

        border-radius: 3px;
        background: white;
        border: 2px solid $edge_border_color;

        &.wide_column {
            width: auto;
            margin: 20px 20px 0 20px;
        }
    }
}

.footer {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    text-shadow: 1px 1px 0 white;

    &.wide {
        .inner_column {
            width: auto;
            padding: 0 20px;
        }
    }

    .footer_right {
        float: right;
    }

    a {
        color: #999;
    }

    .inner_column {
        width: $site_width - 20px;
        padding: 4px 0;
        color: #999;
    }
}

.user_panel .header_button,
.header.wide .browse_button {
	@include button($button_color, $height: 30px, $fz: 16px);
	font-size: inherit;
	padding: 0 10px;
	box-shadow: 1px 1px 0px rgba(0,0,0, 0.2);
	letter-spacing: 0.05em;
	margin-left: 10px;

	&:active {
		box-shadow: 1px 1px 0px rgba(0,0,0, 0.2);
	}

	&:hover {
		text-decoration: none;
	}
}

.header {
    $search_height: 30px;
    position: relative;
	font-size: 16px;

    .inner_column {
        position: relative;
    }

    &.default {
        color: white;
        background: $header_color;
        height: $header_height;
        min-width: $site_width;
        box-shadow: 0 1px 0 white; //, inset 0 -8px 8px -8px rgba(0, 0, 0, 0.5);

        .header_logo {
            display: block;
            text-decoration: none;
            color: white;
            margin-top: 10px;
            background: url("/static/images/itchio-white-30.png");
            width: 88px;
            height: 30px;
        }

        .user_panel {
            top: 9px;
        }

        .browse_button {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            vertical-align: top;

            margin-left: 15px;
            margin-top: 8px;
            font-size: 16px;
            padding: 0 8px;
            text-decoration: none;
            border-radius: 4px;
            letter-spacing: 0.025em;

            color: white;
            border: 2px solid rgba(255,255,255, 0.6);

            @include transition(background 0.1s ease);

            &:hover {
                background: rgba(255,255,255, 0.8);
                color: $header_color;
            }

            &:active {
                background: rgba(255,255,255, 0.4);
            }

        }
    }

    &.wide {
        background: #efefef;
        padding: 10px 40px;
        padding-bottom: 0;

        border-bottom: 1px solid #dadada;
        color: #222;
        height: 40px;

        @media (max-width: 1140px) {
            .user_panel {
                .profile_link {
                    display: none;
                }
            }
        }

        h1 {
            margin-right: 20px;
        }

        .browse_button, .game_search {
            vertical-align: top;
            margin-top: 1px;
        }

        .game_search {
            display: inline-block;
        }

        .inner_column {
            width: auto;
            min-width: 900px;
        }

        .header_logo {
            background: url("/static/images/itchio-black-30.png");
            width: 107px;
            height: 30px;
            margin: 0;
            vertical-align: top;
        }

        .header_button, .browse_button {
            box-shadow: none;
        }

        .user_panel {
            color: #999;

            a {
                color: #444;

                &.header_button {
                    color: white;
                }
            }

            .drop_menu_wrap {
                &.open {
                    .menu_tick {
                        background-color: rgba(0,0,0, 0.1);
                    }
                }

                .menu_tick {
                    background-image: url("/static/images/down-tick-2-dark.png");

                    &:hover {
                        background-color: rgba(0,0,0, 0.1);
                    }

                }
            }

        }
    }

    .header_logo {
        display: block;
        text-decoration: none;
    }

    h1 {
        display: inline-block;
        vertical-align: top;
        margin: 0;
    }

    .game_search {
        display: none;

        .search_input {
            @include border_box;

            border: 1px solid #aaa;
            padding: 4px 10px;
            font-size: 14px;
            color: #333;
            width: 230px;
            height: $search_height;
            margin: 0;
            margin-left: 20px;
            font-size: 16px;

            &:focus {
                outline: none;
                border: 1px solid darken(#aaa, 20%);

                & + .submit_btn {
                    background: darken(#aaa, 20%);
                }

            }

            &:valid + .submit_btn {
                @include opacity(1.0);
            }
        }

        .submit_btn {
            @include opacity(0);
            @include transition(opacity 0.1s ease);
            @include border_box;

            vertical-align: top;
            margin: 0;
            background: #aaa;
            height: $search_height;
            line-height: $search_height;
            border: 0;
            color: white;
            padding: 0px 10px;
            cursor: pointer;
            font-size: 16px;
            letter-spacing: 0.05em;

        }
    }
}

.user_panel {
    position: absolute;
    top: 0;
    right: 0;
	font-size: 16px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .drop_menu_wrap {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        &.open {
            .menu_tick {
                background-color: rgba(255,255,255, 0.1);
            }

            .drop_menu {
                display: block;
            }
        }

        .menu_tick {
            @include transition(background-color 0.2s ease);
            cursor: pointer;
            margin-left: 10px;
            margin-right: 5px;
            background: url("/static/images/down-tick-2.png") 50% 50% no-repeat;
            width: 23px;
            height: 21px;
            border-radius: 4px;

            &:hover {
                background-color: rgba(255,255,255, 0.1);
            }
        }

        .drop_menu {
            display: none;
            line-height: normal;
            position: absolute;
            text-align: left;
            top: 100%;
            right: 0;
            margin-top: 8px;
            background: white;
            border-radius: 3px;
            border: 2px solid $edge_border_color;
            color: #333;
            min-width: 140px;
            box-shadow: 0 0 5px rgba(0,0,0, 0.2);
            white-space: nowrap;
            z-index: 10;
        }

        .link_row {
            display: block;
            padding: 0 20px;
            line-height: 33px;
            height: 33px;
            color: inherit;
            text-decoration: none;
            letter-spacing: 0.05em;
            position: relative;

            &.has_bubble {
                padding-right: 40px;
            }

            .link_bubble {
                position: absolute;
                top: 0;
                right: 5px;
                font-size: 10px;
                text-transform: uppercase;
                background: $link_color;
                color: white;
                border-radius: 4px;
                padding: 2px 4px;
                font-weight: bold;
                line-height: 15px;
                text-shadow: none;
            }

            &:hover {
                background-color: #FA5C5C;
                text-shadow: 1px 1px 2px #B70606;
                box-shadow: inset 0 0 0 2px white;
                color: white;

                .link_bubble {
                    text-shadow: none;
                }
            }

            &:active {
                background: #E44949;
            }
        }
    }



}


.columns {
    font-size: 0;

    .column {
        @include grid_cell(4, $width: $inner_site_width);
    }

    .simple_col {
        display: inline-block;
        vertical-align: top;
        font-size: $font_size;
    }

    .left_col { @include grid_cell(5, $width: $inner_site_width); }
    .right_col { @include grid_cell(3, $width: $inner_site_width); }
}

.top_links, .bottom_links {
    a {
        color: #666;
    }
}

.bottom_links {
    margin: 20px 0;
}

.top_links {
    margin-bottom: 20px;
}

.base_widget {
    padding: 25px 40px;

    .padded {
        padding: 30px 40px;

        .warning_box {
            margin-left: -40px;
            margin-right: -40px;

            padding-left: 40px;
            padding-right: 40px;
        }
    }

    h2, h3, h4, h5 {
        margin-top: 0;
    }

    h2 {
        margin-bottom: 20px;
    }
}

.stat_header {
    border-bottom: 1px solid #DADADA;
    height: 80px;

    h2, .top_links {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    .top_links {
        margin-left: 10px;

        a {
            color: #888;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .stats_container {
        float: right;
    }

    .text_container {
        padding: 28px 0 0 40px;
    }

    .stat_box {
        display: inline-block;
        border-left: 1px solid #dadada;
        height: 60px;
        padding: 10px 20px;
        text-align: right;

        .stat_value {
            font-size: 34px;
            color: #444;
        }

        .stat_label {
            color: #888;
            font-size: 12px;
        }
    }
}

.header_nav {
    border-bottom: 1px solid #DADADA;
    padding: 0 40px;

    .nav_label, .nav_btn {
        display: inline-block;
        font-size: 16px;
        padding: 10px;
        border-right: 1px solid #dadada;
    }

    .nav_label {
        color: #444;
        padding-left: 0;
    }

    .nav_btn {
        cursor: pointer;
        color: #666;
        text-decoration: none;
        box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
        text-decoration: underline;


        &:first-child {
            border-left: 1px solid #dadada;
        }

        &.active {
            cursor: default;
            background: #f0f0f0;
            text-decoration: none;
            color: #222;
            box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
            position: relative;

            &:after {
                content: " ";
                font-size: 0;
                position: absolute;
                background: $link_color;
                bottom: -5px;
                left: 0;
                right: 0;
                height: 3px;
            }

            &:hover, &:active {
                background: #f0f0f0;
            }
        }

        &:hover {
            background: #f0f0f0;
            color: #222;
        }

        &:active {
            background: darken(#f0f0f0, 4%);
        }

    }
}

.empty_text {
    font-style: italic;
    color: #666;
}

.social_buttons {
    .social_button {
        display: inline-block;
        min-width: 120px;
        vertical-align: top;
    }
}

.feedback_widget {
    position: fixed;
    top: 60px;
    left: 0;
    background: darken($button_color, 10%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 2px darken($button_color, 30%);

    @include opacity(0.8);
    @include unselectable;
    @include prefixed(transform-origin, 0 100%);
    @include prefixed(transform, rotate(90deg));
    @include transition(background 0.2s ease-in-out, opacity 0.2s ease-in-out);

    @media (max-width: 1100px) {
        display: none;
    }

    &:hover {
        background: darken($button_color, 5%);
        @include opacity(1);
    }

    &:active {
        top: 61px;
    }
}

.feedback_lightbox {
    width: 500px;

    &.is_complete {
        .before_submit {
            display: none;
        }

        .after_submit {
            display: block;
        }
    }

    p {
        a {
            color: #666;
        }
    }

    form.loading {
        .loader {
            display: inline-block;
        }
    }

    .after_submit, .loader {
        display: none;
    }

    .buttons {
        margin: 20px 40px 30px 40px;

        a {
            color: #666;
        }
    }

    .form {
        .feedback_input {
            @include border_box;
            width: 100%;
            height: 100px;
        }

        .input_row {
            margin: 20px 40px;
        }
    }
}

.tab_columns {
    white-space: nowrap;

    .tab_column {
        @include grid_cell(1, $divisions: 6, $width: $inner_site_width);
        white-space: normal;
        margin-right: 0;
        text-align: right;

        .tab_btn {
            margin: 10px 0;
            font-size: 16px;
            padding: 4px 10px;
            border-radius: 5px 0 0 5px;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            display: block;

            cursor: pointer;

            color: #666;
            text-decoration: underline;

            &:hover {
                color: #222;
            }

            &.selected {
                text-decoration: none;
                cursor: default;
                color: #222;

                border: 1px solid darken(#eee, 10%);
                border-right: 1px solid white;
                position: relative;
                left: 1px;
            }
        }
    }

    .content_column {
        white-space: normal;
        @include grid_cell(5, $divisions: 6, $width: $inner_site_width);
        @include border_box;
        padding-left: 40px;
        border-left: 1px solid #DADADA;
    }

}

