
.game_mail {
    padding: 0;

    h3 {
        margin-top: 30px;
    }

    p {
        width: 600px;
        font-size: 16px;
        margin: 0 0 20px 0;
        line-height: 1.5;
    }
}

.edit_mail {
    padding: 0;

    p {
        line-height: 1.5;
        font-size: 16px;
        margin: 0 0 20px 0;
    }


    .email_preview {
        &.show_download_link {
            div.with_download_link {
                display: block;
            }
        }

        .with_download_link {
            display: none;
        }

        .preview_outer {
            font-size: 16px;
            line-height: 1.5;

            border: 1px solid #dadada;
            margin: 20px 0;
            border-radius: 3px;
        }

        .preview_subject {
            border-bottom: 1px solid #dadada;
            padding: 10px;
            font-weight: bold;
            color: #555;
        }

        .preview_body {
            min-height: 10px;
            padding: 0 10px;

            .body_drop {
                padding-bottom: 10px;
            }
        }

        p {
            margin: 10px 0;

            &.sub {
                font-size: 0.8em;
                color: #666;

                a {
                    color: #444;
                }
            }
        }

        h1,h2,h3,h4 {
            font-size: 16px;
            margin: 10px 0;
        }

        h1, h2 {
            font-size: 18px;
        }

        hr {
            border: 0;
            height: 1px;
            background: #dadada;
        }
    }

    .right_buttons {
        float: right;
    }

    .button_row {
        button {
            margin: 0;
        }
    }

}


.unsubscribe_email {
    p {
        font-size: 16px;
        line-height: 1.5;
    }

    button {
        margin: 0;
    }
}
