
.my_games {
    padding: 0;

    .blank_content {
        text-align: center;
        h3 {
            font-weight: normal;
            font-size: 22px;
            color: #666;
        }
    }

    .social_nag {
        margin: 20px 0;
        .icon-heart {
            color: #999;
        }
    }

    .game_list {
        .cover_image {
            float: left;
            margin-top: 1px;
            margin-left: 1px;
            height: 83px;
            width: 105px;
            border-right: 1px solid white;
            position: relative;
            background: #f5f5f5;
            box-shadow: inset -10px 0 10px -10px rgba(0,0,0, 0.25);
            background-size: cover;
            background-position: 50% 50%;

            .no_image {
                color: #979797;
                text-shadow: 1px 1px 0 white;
                position: absolute;
                text-align: center;
                font-style: italic;
                margin-top: -8px;
                top: 50%;
                left: 0;
                right: 0;
            }
        }

        .game_row {
            height: 85px;
            margin-bottom: 10px;
            border: 1px solid #dadada;
            border-radius: 2px;
            overflow: hidden;
        }

        .game_title, .game_links {
            margin-left: 106px;
        }

        .game_title {
            font-size: 24px;
            padding: 10px;

            white-space: nowrap;

            a {
                display: block;
                color: #444;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .game_links {
            background: #eee;
            padding: 10px;
        }

        .publish_status {
            float: right;
        }
    }


    .columns {
        .left_col { @include grid_cell(4, $width: $inner_site_width); }
        .right_col { @include grid_cell(4, $width: $inner_site_width); }
    }

    .column_cell {
        margin-bottom: 20px;
    }

    .sale_list, .jam_list {
        font-size: 14px;

        li {
            line-height: 1.6;
        }

        .inactive {
            a {
                color: #666;
            }
        }
    }

    .header_notification {
        padding: 8px 40px;
        border-radius: 2px 2px 0 0;
        background: #f1f1f1;
        border-bottom: 1px solid #dadada;
        color: #444;
        font-size: 16px;
    }

    .graph_container {
        margin-left: -20px;
    }
}

.tag_bubble {
    background: #C2BDA7;
    box-shadow: 0 0 0 1px darken(#C2BDA7, 10%);
    color: white;
    text-shadow: 1px 1px 1px darken(#C2BDA7, 20%);
    font-size: 13px;
    border-radius: 8px;
    padding: 1px 8px;

    a {
        text-decoration: none;
        color: white;
    }

    &.green {
        background: #A4D69B;
        box-shadow: 0 0 0 1px darken(#A4D69B, 10%);
        text-shadow: 1px 1px 1px darken(#A4D69B, 20%);
    }

    &.red {
        background: #FFB6B3;
        box-shadow: 0 0 0 1px desaturate(darken(#FFB6B3, 10%), 20%);
        text-shadow: 1px 1px 1px darken(#FFB6B3, 20%);
    }
}


