.my_purchases, .my_donations {
    padding: 0;
    .grid_outer {
        position: relative;
        .border_mask {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 35px;
            background: white;
        }
    }

    .game_grid {
        .game_cell {
            margin-right: 0;
            padding-right: 20px;
            margin-bottom: 60px;

            &:last-child {
                .date_header {
                    margin-right: -5px;
                }
            }

            .price_flag, .game_text, .game_genre, .game_platform, .game_sale {
                display: none;
            }

            .game_thumb, .game_title, .game_author {
                margin-right: 20px;
            }

            .date_header {
                border-bottom: 4px solid $border_color;
                margin-bottom: 20px;
                margin-right: -20px;
                margin-left: -5px;

                height: 35px;
                line-height: 35px;
                font-size: 20px;
                padding: 5px;
                font-weight: bold;
                color: #444;
            }
        }
    }

}
