
.user_settings {
    p, ul, li {
        line-height: 1.5;
        font-size: 16px;
    }

    .bare_input {
        font-size: 16px;
        padding: 8px 0;
    }

    h2 {
        a {
            color: #666;
            font-weight: normal;
        }
    }

    .content_column {
        min-height: 300px;
    }

    button {
        margin-left: 0;
    }

    .form {
        margin-bottom: 40px;
        .label {
            div.sub {
                margin: 5px 0;
            }
        }
    }

    .redactor_box {
        width: 540px;
    }

    .nice_table {
        font-size: 16px;
    }

    .verify_warning_box {
        &.is_complete {
            .before_submit {
                display: none;
            }

            .after_submit {
                display: block;
            }

        }

        &.loading {
            .loader {
                display: inline-block;
            }
        }

        .after_submit {
            display: none;
        }

        .loader {
            display: none;
            margin-left: 10px;
        }
    }

    .email_address_table {
        .verify_email_sent {
            display: none;
        }

        .sent_verify {
            .resend_verify_email_btn {
                display: none;
            }

            .verify_email_sent {
                display: inline;
            }
        }
    }

    .notifications_form {
        label {
            font-size: 16px;
        }
    }
}

