
.add_game_to_jam_lightbox {
    width: 450px;
    padding-bottom: 10px;

    &.has_fields {
        width: 600px;
    }


    h3 {
        margin: 30px 40px 20px 40px;
        color: #333;
    }

    p {
        margin: 20px 40px;
        font-size: 16px;
        line-height: 1.5;
    }

    &.submitted {
        .on_init {
            display: none;
        }

        .on_success {
            display: block;
        }
    }

    .loader {
        display: none;
    }

    .on_success {
        display: none;
    }

    .form {
        margin: 20px 40px;

        h3 {
            margin: 0 0 20px 0;
        }

        input.button {
            margin: 0;
        }
    }

    .or_split {
        margin: 0 5px;
        color: #666;
        font-style: italic;
    }

    .field_row {
        p {
            margin: 10px 0;
        }

        input[type="text"], textarea {
            width: 400px;
        }
    }

}

.add_game_to_jam_form {
    .badges_input {
        .badge_picker {
            border: 1px solid $border_color;
            border-radius: 6px;
            margin-bottom: 20px;
            padding: 15px 10px;

            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background-color: mix($border_color, white, 20%);
            }
        }

        .badge_toggle, .badge_image, .badge_summary {
            display: inline-block;
            vertical-align: middle;
            white-space: normal;
        }

        .badge_image {
            margin: 0 25px 0 20px;;
        }

        .badge_summary {
            max-width: 300px;
            font-size: 14px;
            line-height: 1.5;
            vertical-align: top;

            p {
                margin-bottom: 0;
                margin-top: 5px;
                font-size: 16px;
            }
        }
    }
}
