@import "common";

.exception_row {
    border: 1px solid silver;
    padding: 8px;
    margin-bottom: 10px;

    .label {
        font-family: monospace;
        margin-top: 5px;
    }

    .updated_at, .count {
        color: #666;
        font-size: 12px;
    }

    .count {
        float: right;
        &:before {
            content: "count: ";
            color: #444;
        }
    }
}

.admin_paypal_pending {
    .recheck_btn {
        margin: 0 0 10px 0;
    }

    tr {
        &.processing {
            background: #C0E1FF;
        }

        &.finished {
            background: #F5FFC0;
        }

        &.mark_complete {
            background: #C0FFD2;
        }

        &.mark_failed {
            background: #FFAEEF;
        }

        &.mark_expired {
            background: #FFCFAE;
        }
    }
}


.admin_performance {
    .graph_container {
        height: 350px;
    }
}

.admin_press_applications, .admin_press_links {
    .press_application, .press_link {
        border: 1px solid $border_color;
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;
        margin-bottom: 20px;

        p {
            margin-top: 0;
        }

        pre {
            white-space: pre-wrap;
        }
    }

    .pager {
        .button {
            margin-right: 10px;
        }
    }
}

.admin_purchase_referrers {
    .referrer_link {
        display: inline-block;
        @include single_line;
        max-width: 300px;
    }
}
