body {
    color: #222;
    margin: 0;
    font-size: $font_size;
    font-family: sans-serif;
}

a {
    color: $link_color;
    img { border: 0; }
}

h2 {
    margin: 15px 0;
}

.loader {
    display: inline-block;
    background-image: url("/static/loader.gif");
    vertical-align: middle;
    width: 16px;
    height: 16px;

    &.dark {
        background-image: url("/static/loader-dark.gif");
    }

    &.huge {
        width: 66px;
        height: 66px;
        background-image: url("/static/loader-huge.gif");
    }
}

.button {
    @include button($button_color);
    border: 0;

    &.fat {
        font-size: 18px;
        letter-spacing: 0.025em;
        line-height: 36px;
        height: 40px;
        border-bottom: 4px solid #C34848;
        padding: 0 20px;

        &:hover {
            box-shadow: none;
        }

        &.disabled {
            border-bottom: 4px solid grayscale(#C34848);
        }
    }

    &.cancel {
        @include button(desaturate($button_color, 80%));
    }

    &:focus {
        outline-color: #361275;
    }

    &.disabled {
        text-shadow: none;
        color: #CCC;
        box-shadow: none;
        background: desaturate($button_color, 90%);
        cursor: default;

        &:focus {
            outline: 0;
        }

        &:active {
            position: static;
        }
    }
}

$flash_color: #88CCE7;

.global_flash {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 50%;
    @include autograd($flash_color);
    color: white;
    text-shadow: 1px 1px 1px darken($flash_color, 30%);
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    padding-top: 15px;
    cursor: normal;
    font-size: 18px;

    &.error {
        @include autograd($error_color);
        text-shadow: 1px 1px 1px darken($error_color, 30%);
    }

    box-shadow: inset 0 -1px 0 rgba(255,255,255, 0.2), 0 1px 4px rgba(0,0,0, 0.6);

    &.animated {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
}

.nice_table {
    border: 1px solid gray;
    margin-bottom: 20px;

    thead {
        td {
            background: #eee;
            font-weight: bold;
            color: #444;
        }
    }

    .empty_row {
        color: #666;
        font-style: italic;
    }

    td {
        padding: 4px;
    }

    .sub {
        color: #666;
        font-style: italic;
    }

    a {
        color: #666;
    }
}

.ie a img {
    border: 0;
}

.formatted {
    font-size: 16px;

    p, ul {
        line-height: 1.5;
    }

    p {
        margin: 0 0 20px 0;
    }

    h1,h2,h3,h4 {
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    ul, ol {
        margin: 0 0 20px 0;
        padding-left: 2.0em;
    }

    hr {
        border: 0;
        height: 1px;
        background: $border_color;
    }
}

.warning_box {
    background: #FFFED8;
    color: darken($warning_color, 60%);
    border-bottom: 1px solid darken($warning_color, 10%);
    border-top: 1px solid darken($warning_color, 10%);
    padding: 20px;
    margin-bottom: 20px;

    h2,h3,h4 {
        color: darken($warning_color, 70%);
    }

    a {
        color: $button_color;
        &:hover {
            color: lighten($button_color, 5%);
        }
    }
}

.loader_bar {
    position: relative;
    height: 2px;

    .loader_bar_slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $button_color;

        @include prefixed(animation, loader-left 0.8s cubic-bezier(.55,.45,.55,.45) infinite, loader-right 0.8s cubic-bezier(.45,.55,.45,.55) infinite);
        @include prefixed(animation-direction, alternate);
    }
}

@include keyframes(popin) {
    0% {
        opacity: 0;
        @include prefixed(transform, scale(0.8));
    }

    75% {
        @include prefixed(transform, scale(1.1));
    }

    100% {
        opacity: 1;
        @include prefixed(transform, scale(1.0));
    }
}

// -webkit-animation: loader-left 0.8s cubic-bezier(.55,.45,.55,.45) infinite, loader-right 0.8s cubic-bezier(.45,.55,.45,.55) infinite;
// -webkit-animation-direction: alternate;

@include keyframes(loader-left) {
    from {
        left: 0;
    }

    to {
        left: 90%;
    }
}

@include keyframes(loader-right) {
    from {
        right: 90%;
    }

    to {
        right: 0;
    }
}

.perf_panel {
    @include opacity(0.5);
    @include transition(all 0.2s ease);

    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    white-space: nowrap;
    padding: 5px 10px;
    border: 1px solid $border_color;
    font-size: 16px;
    line-height: 1.5;

    &:hover {
        @include opacity(1);
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
    }

    .stat_row {
        display: inline-block;
    }
}


