.form.buy_form {
    &.has_error {
        .error_message {
            display: block;
        }
    }

    &.show_email_capture {
        .choose_payment {
            display: none;
        }

        .email_capture {
            display: block;
        }
    }

    &.loading {
        .loader {
            display: block;
            margin: 20px auto;
        }

        .submit_buttons {
            display: none;
        }
    }

    .gifter {
        font-size: 16px;
        margin: 25px 0 10px 0;
        border: 1px solid #DADADA;
        padding: 10px 20px;
        border-radius: 3px;
        display: block;

        &:hover {
            background-color: lighten(#eee, 4%);
        }

        .label_text, .gift_checkbox {
            display: inline-block;
            vertical-align: middle;
        }

        .gift_checkbox {
            margin: 0 13px 0 0;
        }
    }

    .download_links {
        a {
            color: #666;
        }
    }

    button {
        margin: 0;
    }

    p {
        margin: 10px 0;
    }

    .icon {
        font-size: 16px;
    }

    .icon-heart {
        color: #EC4E61;
        vertical-align: middle;
        margin-right: 2px;
    }

    .add_buttons {
        margin: 15px 0;
    }

    .add_btn {
        $bgcolor: #24C091;
        margin-right: 10px;
        font-size: 16px;
        background-color: $bgcolor;
        border: 0;
        color: white;
        border-radius: 4px;
        padding: 4px 8px;
        text-shadow: 1px 1px 1px darken($bgcolor, 10%);
        box-shadow: 0 3px darken($bgcolor, 10%);
        border-bottom: 1px solid lighten($bgcolor, 4%);
        cursor: pointer;
        line-height: 20px;

        &:active {
            box-shadow: 0 1px darken($bgcolor, 10%);
            position: relative;
            top: 2px;
        }

        .icon {
            vertical-align: middle;
            margin-right: 6px;
            font-size: 11px;
        }

        &.disabled {
            $disable_color: #A8A8A8;
            background-color: $disable_color;
            text-shadow: 1px 1px 1px darken($disable_color, 10%);
            box-shadow: 0 3px darken($disable_color, 10%);
            border-bottom: 1px solid lighten($disable_color, 4%);
            color: lighten($disable_color, 10%);
            cursor: default;
        }
    }

    .checkout_btn {
        @include button($button_color);
        font-size: 14px;
        margin-right: 10px;
    }

    .money_input {
        margin: 0;
        width: 330px;
        font-size: 24px;
    }

    .error_message {
        padding: 10px;
        display: none;

        $warning_color: #EFEEBF;
        background: $warning_color;
        color: darken($warning_color, 60%);
        border-bottom: 1px solid darken($warning_color, 10%);
        color: #DB4B3E;
        text-shadow: 1px 1px 0px lighten($warning_color, 10%);

        .icon {
            float: left;
        }

        .error_text {
            margin-left: 24px;
        }
    }


    .loader {
        display: none;
    }

    .file_list {
        margin: 20px 0;

        border-bottom: 1px dashed #dadada;
        border-top: 1px dashed #dadada;

        .icon-download {
            margin-right: 2px;
            color: #444;
        }

        p {
            text-align: center;
            font-style: italic;
            color: #444;
            font-size: 14px;
        }

        .file_row {
            margin: 10px 0;

            &.inactive {
                color: #999;
                cursor: pointer;

                .icon-download {
                    color: #bbb;
                }


                &:hover {
                    color: #666;
                }
            }
        }
    }

    .sale_banner {
        background: #FFF0B6;
        margin-bottom: 20px;
        border: 1px solid desaturate(darken(#FFF0B6, 10%), 10%);
        padding: 10px;
        line-height: 1.2;

        strong {
            color: #47453C;
        }

        .sale_rate {
        }

        .end_date {
            font-style: italic;
        }
    }

    .original_price {
        text-decoration: line-through;
        color: #666;
    }

    .file_row {
        .original_price {
            color: #c2c2c2;
        }
    }

    .submit_buttons {
        margin-top: 20px;

        .buttons_label {
            display: none;
            color: #999;
            font-size: 13px;
            margin-bottom: 10px;

            &.show {
                display: block;
            }
        }

        &.narrow_buttons {
            .verb_label {
                display: none;
            }

            .buttons_label {
                display: block;
            }
        }
    }

    .email_capture {
        display: none;

        .email_input {
            vertical-align: top;
            padding: 0 8px;
            height: 33px;
            margin: 0;
            margin-right: 10px;
            width: 180px;
            color: #222;
        }

        .button {
            vertical-align: top;
        }

        .back_btn {
            @include unselectable;

            font-size: 18px;
            font-weight: bold;
            color: #bbb;
            cursor: pointer;

            display: inline-block;
            line-height: 35px;
            vertical-align: middle;
            margin-left: 5px;

            &:hover {
                color: #999;
            }
        }
    }
}

.form.bundle_buy_form {
    h3 {
        margin: 20px 0 15px 0;
    }

    .receive_row {
        border: 1px solid $border_color;
        background: mix($border_color, white, 15%);
        border-radius: 3px;
        padding: 20px 25px;
        margin-bottom: 20px;

        h3 {
            margin-top: 0;
        }
    }

    .game_list {
        font-size: 16px;
    }

    .regular_price {
        color: #666;
        font-size: 14px;

        &:before {
            content: " — ";
        }
    }

    .game_row {
        @include single_line;
        line-height: 1.6;
    }

    .total_row {
        color: #444;
        border-top: 1px solid $border_color;
        margin-top: 20px;
        padding-top: 8px;

        del, .savings {
            color: #999;
        }

        strong {
            color: #222;
        }
    }

    .platforms {
        color: #666;
        margin-left: 10px;
    }
}

.buy_lightbox {
    width: 600px;

    &.loading {
        .close_button {
            display: none;
        }
    }

    .form {
        margin: 20px 40px 40px 40px;

        .input_row {
            margin: 20px 0;
            text-align: center;
        }

        .money_input {
            @include border_box;
            display: inline-block;
            width: 520px;
        }
    }
}


