.star_picker {
    display: inline-block;
    font-size: 18px;
    padding: 4px 4px 4px 0;
    color: $link_color;

    &.interactive {
        color: #999;
        border: 1px solid #dadada;
        padding-left: 4px;

        .star {
            padding: 0 2px;
        }

        &:hover {
            .icon-star {
                color: #555;
            }

        }

        &.has_rating {
            .icon-star {
                color: $link_color;
            }
        }

    }

    .star {
        @include transition(color 0.1s ease);
        padding: 0 4px 0 0;
        cursor: pointer;
    }
}
